<mat-sidenav-container class="app-container">
  <!-- Sidebar -->
   <mat-sidenav #sidenav mode="side" 
        [opened]="isSidebarOpen" 
        [style.width.px]="sidebarWidth"
        class="app-sidenav"  >

        <app-left-menu></app-left-menu>

    </mat-sidenav> 

  <!-- Main content -->
  <mat-sidenav-content class="app-sidenav-content">
    <app-header (toggleSidebar)="toggleSidebar()" 
      [sidebarOpen]="isSidebarOpen"
      [sidebarWidth]="sidebarWidth"
     ></app-header>
    <div class="main-layout">
        <div class="app-main-content" >
            <app-main-content></app-main-content>
        </div>
        <app-footer></app-footer>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
