<mat-sidenav-container class="dcms-container">
  <!-- Left Menu -->
  <mat-sidenav #sidenav mode="side" [(opened)]="isSidebarOpen" class="dcms-sidenav">
    <app-left-menu></app-left-menu>
  </mat-sidenav>

  <!-- Page Content -->
  <mat-sidenav-content>
    <!-- Header -->
    <header class="dcms-header">
      <app-header (toggleSidebar)="toggleSidebar()" 
          [sidebarOpen]="isSidebarOpen"
          [sidebarWidth]="sidebarWidth"
          class="app-header"
      ></app-header>
    </header>
    <!--Content -->
    <main class="dcms-main">
      <app-main-content></app-main-content>
    </main>
    <!-- Footer -->
    <footer class="dcms-footer">
      <app-footer></app-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>