<header>
  <mat-toolbar color="primary">
    <!-- //Material Icons Integration: Easily use Google's Material Icons. -->
    <mat-icon>home</mat-icon>
    <span class="app-title">QUẢN LÝ DOANH THU CHI PHÍ HẠ TẦNG</span>
    <span class="spacer"></span>
    <span class="app-caption">Nguyễn Thái Diễn - IT00900</span>

      <!-- Language Button -->
<!--     <button mat-icon-button [matMenuTriggerFor]="langMenu" aria-label="Language">
      <mat-icon>language</mat-icon>
    </button> -->

    <!-- Language Menu -->
<!--     <mat-menu #langMenu="matMenu">
      <button mat-menu-item (click)="switchLanguage('vi')">🇻🇳 Tiếng Việt</button>
      <button mat-menu-item (click)="switchLanguage('en')">🇺🇸 English</button>
    </mat-menu> -->


<!--     <div class="developer-status">
      <h1>Keycloak Events:{{ keycloakStatus }}</h1> 
      <h1>Keycloak token:{{ keycloakToken }}</h1>  
     </div>  -->
    @if (!authenticated) {
      <button class="action-item" (click)="login()">Login</button>
    } @else {
      <button class="action-item" (click)="logout()">Logout</button>
    }
  </mat-toolbar>
 
</header>
  