



.app-company {
  font-family: 'Montserrat', sans-serif;
  font-size: small;
}


.spacer {
  flex: 1 1 auto;
}

.mat-icon-button {
  margin-right: 8px;
  font-size: smaller;
} 
.aria-label {
  font-size:x-small;
} 