.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1;
}




.app-company {
  font-family: 'Montserrat', sans-serif;
  font-size: small;
}




.divider {
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin: 0 8px;
  vertical-align: middle;
}