<header>
   <mat-toolbar  color="primary" class="header-toolbar"
    [style.width.px]="sidebarOpen ? 'calc(100% - ' + sidebarWidth + 'px)' : '100%'" >
    <!-- Nút mở/đóng sidebar -->
    <button class="toggleSidebar" mat-icon-button aria-label="Toggle sidebar"  (click)="toggleSidebar.emit()" [matTooltip]=" 'toggleSidebar' | translate ">
    <mat-icon>menu</mat-icon>
  </button> 


    <!-- //Material Icons Integration: Easily use Google's Material Icons. -->
    <mat-icon [routerLink]="['/']" [matTooltip]=" 'BACKTOHOME' | translate " class="backtohome-icon">home</mat-icon>
  
    <span class="app-name">Quản lý hạ tầng</span>
     <span class="divider"></span>
  
  <mat-toolbar color="primary" class="header-title-toolbar" fxLayout="column">
  <!-- Hàng trên -->
  <div class="toolbar-row">
    <span class="header-title">DOANH THU CHI PHÍ HẠ TẦNG</span>
  </div>
  <!-- Hàng dưới -->
  <div class="toolbar-row">
    <!-- <span class="header-subtitle">Cập nhật máy chủ</span> -->
    <span class="header-subtitle">{{ currentUrl() }}</span>
  </div>
</mat-toolbar>
 
 <span class="spacer"></span>
 <span class="divider"></span>

   <!-- Các mục menu khác -->
  <a mat-list-item routerLink="/sitemap">
    <mat-icon matListIcon  [matTooltip]=" 'SITEMAP' | translate ">map</mat-icon>
  </a>
   <!-- <span class="divider"></span> -->
      <!-- Language Button -->
    <button mat-icon-button [matMenuTriggerFor]="langMenu" aria-label="Language" class="langMenu">
      <mat-icon [matTooltip]=" 'CHANGE_LANGUAGE' | translate ">language</mat-icon> 
    </button> 
    <!-- Language Menu -->
     <mat-menu #langMenu="matMenu">
      <button mat-menu-item (click)="switchLanguage('vi')">🇻🇳 Tiếng Việt</button>
      <button mat-menu-item (click)="switchLanguage('en')">🇺🇸 English</button>
    </mat-menu> 

<!-- 
  <span class="divider"></span> -->

  <!-- Nút mở menu chọn theme -->
  <button mat-icon-button [matMenuTriggerFor]="themeMenu" >
    <mat-icon matTooltip=" {{'CHANGE_THEME' | translate }}">palette</mat-icon>
  </button>

  <!-- Menu chọn theme -->
  <mat-menu #themeMenu="matMenu">
    <button mat-menu-item (click)="switchTheme('vnpt-theme')">
      <mat-icon>stars</mat-icon>
      <span>Giao diện VNPT</span>
    </button>
    <button mat-menu-item (click)="switchTheme('light-theme')">
      <mat-icon>light_mode</mat-icon>
      <span>Giao diện sáng</span>
    </button>
    <button mat-menu-item (click)="switchTheme('dark-theme')">
      <mat-icon>dark_mode</mat-icon>
      <span>Giao diện tối</span>
    </button>
    <button mat-menu-item (click)="switchTheme('blue-theme')">
      <mat-icon>invert_colors</mat-icon>
      <span>Giao diện xanh</span>
    </button>
  </mat-menu>

  <!-- [matMenuTriggerFor]="notificationMenu" -->
  <button mat-icon-button [matBadge]="notificationCount" matBadgeColor="warn" matBadgeOverlap="true"  
    aria-label="Notifications" >
      <mat-icon class="notification-icon">notifications</mat-icon>
  </button>


  <span class="divider"></span>
  <!-- Nút Profile -->
  <button mat-button [matMenuTriggerFor]="profileMenu" aria-label="Tài khoản người dùng">
    <mat-icon>account_circle</mat-icon>
    <span>Profile</span>
  </button>

  <!-- Menu Profile -->
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item>
      <mat-icon>build</mat-icon>
      <span>Chức năng 1</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Chức năng 2</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="logout()">
      <mat-icon color="warn"></mat-icon>
      <span>{{ "LOGOUT" | translate }}</span>
    </button>
  </mat-menu>
  </mat-toolbar>
 
</header>
  